.main {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 900px;
}

.informations {
    background-color: white;
    border-radius: 10px;
    min-height: 400px;
    padding: 15px;
    display: grid;
    row-gap: 10px;
}

.tile {
    background-color: #F4EAE6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: auto;
    padding-bottom: 10px;
    color: #2F5061;
}

#map {
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
    width: 95%;
    min-height: 500px;
}