
form {
    background-color: #F4EAE6;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: inline-block;
}

label {
    margin-top: 10px;
    display: block;
    text-align: left;
}

input[type="text"], input[type="tel"], input[type="date"], input[type="time"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #faeeeb;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #E57F84;
}
